{% extends 'accounts/main.html' %}

{% block content%}

<section>
    <div class=" container">
        <br><br>
        <div class="p-3 mb-2 bg-primary text-white"><h5 class="text-center"> Update Data </h5></div>
        <form action="" method="POST">
            {% csrf_token%}
            <div class="p-3 mb-2 bg-secondary text-white"><h6> Select Customer : </h6> {{form.customer}}</div>
            <br>
            <div class="p-3 mb-2 bg-secondary text-white"><h6> Select Product : </h6> {{form.product}}</div>
            <br>
            <div class="p-3 mb-2 bg-secondary text-white"><h6> Select Status : </h6> {{form.status}}</div> 
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-info" href="{% url 'dashbord' %}"> Back to Dash Bord</a>
        </form>
    </div>

</section>

{% endblock %}