
<div class="container">
            
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <br>
            <div class="card card-body">
                    <h5 class="p-3 mb-2 bg-info text-white text-center"> Total Orders</h5>
                <div class="panel-body text-center">                        
                    <h3> {{to}}</h3>
                </div>
            </div>

        </div>          
        <div class="col-xs-6 col-md-4">
            <br>
            <div class="card card-body">
                    <h5 class="p-3 mb-2 bg-info text-white text-center">Deliverd</h5>
                <div class="panel-body text-center">                        
                    <h3> {{td}}</h3>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-4">
            <br>
            <div class="card card-body">
                    <h5 class="p-3 mb-2 bg-info text-white text-center">Panding</h5>
                <div class="panel-body text-center">                        
                    <h3> {{tp}}</h3>
                </div>
            </div>         
        </div
        </div>
    </div>

</div>